.App.dark {
    --bg-color: #0e0e75;
    --inverted-bg-color: #b7b7c2;

    --primary-color: #86e786;
    --secondary-color: #01861e;
    --inverted-primary-color: #06046b;
    --inverted-secondary-color: #1625ff;
}